<div class="container">
    <span class="row"><hr size="#"></span>
    <h3 class="row">
        <span class="col-1"></span>
        <span class="col">Add a timetable is Simple!</span>
        <span class="col-1"></span>
    </h3>
    <div class="row">
        <span class="col-1"></span>
        <form class="form col" action="#">
            <div class="form-group">
                <label for="timetable_name">Name</label>
                <input type="text" class="form-control" id="timetable_name" maxlength="64" placeholder="Enter the timetable's name">
            </div>
            <div class="form-group">
                <label for="timetable_description">Description</label>
                <textarea type="text" class="form-control" id="timetable_description" maxlength="1024" placeholder="Enter the timetable's description"></textarea>
            </div>
            <div class="form-group">
                <input class="btn btn-sm btn-primary" type="submit" onclick="App.vars.tmp.add_timetable()">
            </div>
            <hr size="#">
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary col btn-sm" onclick="App.views.choose_timetable()">Choose Timetable</button>
                </div>
                <div class="col">
                    <button class="btn btn-dark btn-sm" onclick="App.views.index()">Return to home</button>
                </div>
            </div>
        </form>
        <span class="col-1"></span>
    </div>
    <div class="row">
        <span class="col-1"></span>
        <span class="col" id="timetable_error"></span>
        <span class="col-1"></span>
    </div>
    <br>
</div>
<script type="text/javascript">
    App.views.splash(null, 'show');
    App.vars.tmp.$name = $('#timetable_name');
    App.vars.tmp.$description = $('#timetable_description');
    App.vars.tmp.add_timetable = function () {
        name = App.vars.tmp.$name.val();
        description = App.vars.tmp.$description.val();
        App.views.add_timetable(name, description);
    };
    App.vars.tmp.$error = $('#timetable_error');
    App.vars.tmp.$error.empty();
    for (var i = 0; i < App.vars.errors.length; i++) {
        App.vars.tmp.$error.append('<h4 class="text-danger text-center">'+App.vars.errors[i]+'</h4>');
    };
    // We load previous data form if present
    if (App.vars.tmp.form) {
        App.vars.tmp.$name.val(App.vars.tmp.form.name);
        App.vars.tmp.$description.val(App.vars.tmp.form.description);
    };
    App.views.splash(null, 'hide');
</script>