<div class="container">
    <div class="fixed-top grid_system" id="header">
        <div class="row">
            <div class="col">
                <h3><!--HEADER--></h3>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top:80px" id='contains'>
        <!-- contains -->        
    </div>
    <div>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="fixed-bottom grid_system">
        <div class="row">
            <div class="col" onclick='App.views.home()'>
                <i class="fas fa-2x fa-book" style="color: brown;"></i>
                <span class="d-none d-sm-block">Lessons</span>
           </div>
            <div class="col" onclick='App.views.supports()'>
                <i class="fas fa-2x fa-book-open text-primary"></i>
                <span class="d-none d-sm-block">Supports</span>
            </div>
            <div class="col" onclick='App.views.events()'>
                <i class="fas fa-2x fa-book-reader text-success"></i>
                <span class="d-none d-sm-block">Events</span>
            </div>
            <div class="col" onclick="App.views.notifications()">
                <i class="fas fa-2x fa-bell text-dark"></i>
                <span class="d-none d-sm-block">Notifications</span>
            </div>
            <div class="col" onclick="App.views.profil()">
                <i class="fas fa-2x fa-user-circle text-info"></i>
                <span class="d-none d-sm-block">Me</span>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="announce">
        <div class="modal fade" id="staticBackdrop{{i}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop{{i}}Label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdrop{{i}}Label">Announce</h5>
              </div>
              <div class="modal-body">
                <span class="text">{{contains}}</span><br>
                <i class="text">{{date}}</i>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $announce = $('#announce');
    $html = $announce.html();
    $announce.empty();
    Addons.request('/api/user/timetable/announces', null, function (d) {
        for (var i = 0; i < d.result.length; i++) {
            $announce.append($html
                .replace('{{contains}}', d.result[i].message)
                .replace('{{date}}', d.result[i].created_date)
                .replace('{{i}}', i)
                .replace('{{i}}', i)
                .replace('{{i}}', i)
            );
            $('#staticBackdrop'+i).modal('show');
        };
    });
</script>