<div class="row"><hr size='#'></div>
<div class="row">
    <div class="container-fluid" id='block'>
        <div id="parent">
            <div class="row">
                <div class="col-3">
                    <i class="fas fa-4x fa-bell text-dark"></i>
                </div>
                <div class="col">
                    <h4 class="text">{{timetable}}</h4>
                    <span class="text">{{description}}</span>
                    <i class="text">{{date}}</i>
                </div>
            </div>
            <br>
            <hr size="#">
        </div>
    </div>
</div>
<!-- We duplicate the data -->
<script type="text/javascript">
    App.views.splash(null, 'show');
    App.vars.tmp.$el = $('#block');
    App.vars.tmp.$html = App.vars.tmp.$el.html();
    if (App.models.notifications.length) {
        App.vars.tmp.$el.empty();
        for (var notification_id = 0; notification_id < App.models.notifications.length; notification_id++) {
            App.vars.tmp.$el.append(App.vars.tmp.$html
                .replace('{{description}}', App.models.notifications[notification_id].description)
                .replace('{{timetable}}', App.models.notifications[notification_id].timetable)
                .replace('{{date}}', App.models.notifications[notification_id].created_date)
            );
        };
    } else {
        App.vars.tmp.$el[0].innerHTML = 'No supports for the moment.';
    };
    App.views.splash(null, 'hide');
</script>