<div class="row"><hr size='#'></div>
<div class="row">
    <div class="container-fluid" id='block'>
        <div id="parent">
            <div class="row" onclick="$(this).parent().find('#child').fadeToggle();">
                <div class="col-3">
                    <i class="fas fa-4x fa-book text-primary"></i>
                </div>
                <div class="col">
                    <h4><b>{{code}}:</b> {{name}}</h4>
                    <i>from {{timetable}}</i>
                </div>
            </div>
            <br>
            <div class="row" id='child' style="display: none;">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <b>Description:</b> {{description}}<br>
                        <b>Date of publication:</b> {{pub_date}}<br>
                        <b>Type:</b> {{category}}<br>
                        <b>Size:</b> {{size}} Mo<br>
                        <b>Number of downloading:</b> <span class="text-primary">{{nb_downloading}}</span><br>
                        <button class="btn btn-primary btn-sm" onclick='App.vars.tmp.download({{id}})'>Download</button>
                        <button class="btn btn-danger btn-sm" onclick='App.vars.tmp.download({{id}}, 1)'>Download with MEGA</button>
                        <br>
                    </div>
                    <div class="card-footer" {{admin_panel}}>
                        <button class="btn btn-warning btn-sm" onclick='App.views.update_asset({{id}})'>Update</button>
                        <!-- Button trigger modal -->
                        <button class="btn btn-danger btn-sm" onclick='App.vars.tmp.to_delete={{asset_pk}}' data-toggle="modal" data-target="#delete_asset">Delete</button>
                    </div>
                </div>
            </div>
            <hr size="#">
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="delete_asset" tabindex="-1" aria-labelledby="delete_assetLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete_assetLabel">Confirmation</h5>
      </div>
      <div class="modal-body">
        <span class="text">Are you sure to delete it?</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="$('#delete_asset').on('hidden.bs.modal', function (event) {App.views.delete_asset(App.vars.tmp.to_delete)})">Yes</button>
      </div>
    </div>
  </div>
</div>
<!-- We duplicate the data -->
<script type="text/javascript">
    App.views.splash(null, 'show');
    App.vars.tmp.$el = $('#block');
    App.vars.tmp.$html = App.vars.tmp.$el.html();
    if (App.models.assets.length) {
        App.vars.tmp.$el.empty();
        for (var asset_id = 0; asset_id < App.models.assets.length; asset_id++) {
            // We verify if owner
            App.vars.tmp.owner = 0;
            for (var timetable_id = 0; timetable_id < App.models.timetables.length; timetable_id++) {
                if (App.models.timetables[timetable_id].pk == App.models.assets[asset_id].category.timetable_pk) {
                    App.vars.tmp.owner = App.models.timetables[timetable_id].moderators.find(function (x) {return x==App.models.user.pk});
                    break;
                };
            };
            App.vars.tmp.$el.append(App.vars.tmp.$html
                .replace('{{code}}', App.models.assets[asset_id].course.code)
                .replace('{{name}}', App.models.assets[asset_id].name)
                .replace('{{timetable}}', App.models.timetables[timetable_id].name)
                .replace('{{description}}', App.models.assets[asset_id].description)
                .replace('{{pub_date}}', App.models.assets[asset_id].pub_date)
                .replace('{{category}}', App.models.assets[asset_id].category.name)
                .replace('{{nb_downloading}}', App.models.assets[asset_id].readers)
                .replace('{{id}}', asset_id)
                .replace('{{admin_panel}}', App.vars.tmp.owner ? '' : 'hidden')
                .replace('{{id}}', asset_id)
                .replace('{{id}}', asset_id)
                .replace('{{asset_pk}}', App.models.assets[asset_id].pk)
                .replace('{{size}}', App.models.assets[asset_id].size / 1000 / 1000)
            );
        };
    } else {
        App.vars.tmp.$el[0].innerHTML = 'No supports for the moment.';
    };
    App.vars.tmp.download = function (id, with_mega) {
        Addons.request('/api/user/timetable/asset/'+App.models.assets[id].pk+'/read', null, function (){});
        var win = window.open(
            with_mega ? App.models.assets[id].cloud_url : ('/api/user/timetable/media/'+App.models.assets[id].media_pk+'/download'),
            '_blank'
        );
        if (win) {
            //Browser has allowed it to be opened
            win.focus();
        } else {
            //Browser has blocked it
            alert('Please allow popups for launch the downloading');
        };
    };
    $("#support_key").keyup(function () {
        var text = $("#support_key").val().toLowerCase();
        $("#block").children().each(function(x, y) {
            y.hidden = (y.innerText.toLowerCase().search(text) == -1);
        });
    });
    App.views.splash(null, 'hide');
</script>