<div class="container">
    <span class="row"><hr size="#"></span>
    <h3 class="row">
        <span class="col-1"></span>
        <span class="col">Add a category</span>
        <span class="col-1"></span>
    </h3>
    <div class="row">
        <span class="col-1"></span>
        <form class="form col" action="#">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter the category's name">
            </div>
            <div class="form-group">
                <label for="desciption">Desciption</label>
                <input type="text" class="form-control" id="desciption" placeholder="Enter the category's desciption">
            </div>
            <div class="form-group">
                <label for="timetable_pk">Timetable</label>
                <select class="form-control" id="timetable_pk"></select>
            </div>
            <div class="form-group">
                <input class="btn btn-sm btn-primary" type="submit" onclick="add_category($(this).parent().parent())">
            </div>
            <hr size="#">
            <div class="row">
                <div class="col">
                    <button class="btn btn-dark btn-sm" onclick="App.views.admin()">Return to administration's panel</button>
                </div>
            </div>
        </form>
        <span class="col-1"></span>
    </div>
    <div class="row">
        <span class="col-1"></span>
        <span class="col" id="error"></span>
        <span class="col-1"></span>
    </div>
    <br>
</div>
<script type="text/javascript">
    function add_category(form) {
        name = form.find('#name').val();
        desciption = form.find('#desciption').val();
        timetable_pk = form.find('#timetable_pk').val();
        App.views.add_category(name, desciption, timetable_pk);
    }
    // We load timetable
    App.vars.tmp.$timetable = $("#timetable_pk");
    for (var i = 0; i < App.models.timetables.length; i++) {
        if (App.models.timetables[i].owner.pk == App.models.user.pk) {
            App.vars.tmp.$timetable.append("<option value='"+App.models.timetables[i].pk+"'>"+App.models.timetables[i].name+"</option>");
        };
    }
    App.vars.tmp.$error = $('#error');
    for (var i = 0; i < App.vars.errors.length; i++) {
        App.vars.tmp.$error.append('<h4 class="text-danger text-center">'+App.vars.errors[i]+'</h4>');
    };
</script>