<div class="container">
    <span class="row"><hr size="#"></span>
    <h3 class="row">
        <span class="col-1"></span>
        <span class="col">Add a course</span>
        <span class="col-1"></span>
    </h3>
    <div class="row">
        <span class="col-1"></span>
        <form class="form col" action="#">
            <div class="form-group">
                <label for="course_name">Name</label>
                <input type="text" class="form-control" id="course_name" placeholder="Enter the course's name">
            </div>
            <div class="form-group">
                <label for="course_code">Code</label>
                <input type="text" class="form-control" id="course_code" placeholder="Enter the course's code">
            </div>
            <div class="form-group">
                <label for="course_description">Description</label>
                <input type="text" class="form-control" id="course_description" placeholder="Enter the course's description">
            </div>
            <div class="form-group">
                <label for="course_timetable_pk">Timetable</label>
                <select class="form-control" id="course_timetable_pk" onchange="App.vars.tmp.load_lecturer($(this))">
                    <option selected></option>
                </select>
            </div>
            <div class="form-group">
                <label for="course_lecturer_pks">Lecturer(s)</label>
                <select class="form-control" id="course_lecturer_pks" multiple></select>
            </div>
            <div class="form-group">
                <input class="btn btn-sm btn-primary" type="submit" onclick="App.vars.tmp.add_course()">
            </div>
            <hr size="#">
            <div class="row">
                <div class="col">
                    <button class="btn btn-dark btn-sm" onclick="App.views.admin()">Return to administration's panel</button>
                </div>
            </div>
        </form>
        <span class="col-1"></span>
    </div>
    <div class="row">
        <span class="col-1"></span>
        <span class="col" id="course_error"></span>
        <span class="col-1"></span>
    </div>
    <br>
</div>
<script type="text/javascript">
    App.vars.tmp.add_course = function () {
        name = $('#course_name').val();
        code = $('#course_code').val();
        description = $('#course_description').val();
        lecturer_pks = $('#course_lecturer_pks').val();
        App.views.add_course(name, code, description, lecturer_pks);
    };
    App.vars.tmp.load_lecturer = function (choice) {
        $lecturers = $('#course_lecturer_pks');
        $lecturers.empty();
        if(choice.val()) {
            Addons.request('/api/user/timetable/'+choice.val()+'/lecturer', null, function (d) {
                if(d.code == 200) {
                    for (var i = 0; i < d.result.length; i++) {
                        $lecturers.append("<option value='"+d.result[i].pk+"'>"+d.result[i].name+"</option");
                    };
                };
            }, false);
        };
    };
    // We load timetable
    App.vars.tmp.$timetable = $("#course_timetable_pk");
    for (var i = 0; i < App.models.timetables.length; i++) {
        if (App.models.timetables[i].owner.pk == App.models.user.pk) {
            App.vars.tmp.$timetable.append("<option value='"+App.models.timetables[i].pk+"'>"+App.models.timetables[i].name+"</option>");
        };
    };
    App.vars.tmp.$error = $('#course_error');
    for (var i = 0; i < App.vars.errors.length; i++) {
        App.vars.tmp.$error.append('<h4 class="text-danger text-center">'+App.vars.errors[i]+'</h4>');
    };
    // We load previous data form if present
    if (App.vars.tmp.form) {
        $('#course_name').val(App.vars.tmp.form.name);
        $('#course_code').val(App.vars.tmp.form.code);
        $('#course_description').val(App.vars.tmp.form.description);
    };
</script>