<div class="container">
    <span class="row"><hr size="#"></span>
    <h3 class="row">
        <span class="col-1"></span>
        <span class="col">Add a lesson</span>
        <span class="col-1"></span>
    </h3>
    <div class="row">
        <span class="col-1"></span>
        <form class="form col" action="#">
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" placeholder="Enter the description">
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" id="status">
                    <option selected></option>
                </select>
            </div>
            <div class="form-group">
                <label for="begin">Begin</label>
                <input type="text" class="form-control" id="begin" placeholder="Enter the begin">
            </div>
            <div class="form-group">
                <label for="end">End</label>
                <input type="text" class="form-control" id="end" placeholder="Enter the end">
            </div>
            <div class="form-group">
                <label for="timetable_pk">Timetable</label>
                <select class="form-control" id="timetable_pk" onchange="load_location_and_course($(this))">
                    <option selected></option>
                </select>
            </div>
            <div class="form-group">
                <label for="location_pk">Location</label>
                <select class="form-control" id="location_pk">
                    <option selected></option>
                </select>
            </div>
            <div class="form-group">
                <label for="course_pk">Course</label>
                <select class="form-control" id="course_pk">
                    <option selected></option>
                </select>
            </div>
            <div class="form-group">
                <input class="btn btn-primary btn-sm" type="submit" onclick="add_lesson($(this).parent().parent())">
            </div>
            <hr size="#">
            <div class="row">
                <div class="col">
                    <button class="btn btn-dark btn-sm" onclick="App.views.admin()">Return to administration's panel</button>
                </div>
            </div>
        </form>
        <span class="col-1"></span>
    </div>
    <div class="row">
        <span class="col-1"></span>
        <span class="col" id="error"></span>
        <span class="col-1"></span>
    </div>
    <br>
</div>
<script type="text/javascript">
    function add_lesson(form) {
        description = form.find('#description').val();
        status = form.find('#status').val();
        begin = form.find('#begin').val();
        end = form.find('#end').val();
        location_pk = form.find('#location_pk').val();
        course_pk = form.find('#course_pk').val();
        App.views.add_lesson(description,status,begin,end,location_pk,course_pk);
    }
    function load_location_and_course(choice) {
        $location = $('#location_pk');
        $location.empty();
        $course = $('#course_pk');
        $course.empty();
        if(choice.val()) {
            Addons.request('/api/user/timetable/'+choice.val()+'/location', null, function (d) {
                if(d.code == 200) {
                    for (var i = 0; i < d.result.length; i++) {
                        $location.append("<option value='"+d.result[i].pk+"'>"+d.result[i].name+"</option");
                    }
                }
            }, false);
            Addons.request('/api/user/timetable/'+choice.val()+'/course', null, function (d) {
                if(d.code == 200) {
                    for (var i = 0; i < d.result.length; i++) {
                        $course.append("<option value='"+d.result[i].pk+"'>"+d.result[i].name+"</option");
                    }
                }
            }, false);
        };
    }
    // We laod status
    $status = $('#status');
    Addons.request('/api/user/classe/status/choice', null, function (d) {
        if(d.code == 200) {
            for (var i = 0; i < d.result.length; i++) {
                $status.append("<option value='"+d.result[i][0]+"'>"+d.result[i][1]+"</option");
            }
        }
    }, false);
    // We load timetable
    App.vars.tmp.$timetable = $("#timetable_pk");
    for (var i = 0; i < App.models.timetables.length; i++) {
        if (App.models.timetables[i].owner.pk == App.models.user.pk) {
            App.vars.tmp.$timetable.append("<option value='"+App.models.timetables[i].pk+"'>"+App.models.timetables[i].name+"</option>");
        };
    };
    App.vars.tmp.$error = $('#error');
    for (var i = 0; i < App.vars.errors.length; i++) {
        App.vars.tmp.$error.append('<h4 class="text-danger text-center">'+App.vars.errors[i]+'</h4>');
    };
</script>