<div class="container grid_system">
    <div class="row">
        <div class="col">
            <h3>Administration's Panel</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-dark btn-sm" onclick="App.views.home()">Return to home</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary btn-sm" onclick="App.views.add_timetable()">Add timetable</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary btn-sm" onclick="App.views.add_course()">Add course</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary btn-sm" onclick="App.views.add_location()">Add location</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary btn-sm" onclick="App.views.add_category()">Add category</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary btn-sm" onclick="App.views.add_lesson()">Add lesson</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary btn-sm" onclick="App.views.add_lecturer()">Add lecturer</button>
        </div>
    </div>
    <br>
</div>