<div class="container">
    <div class="fixed-top grid_system" id="header">
        <div class="row">
            <div class="col">
                <h3><!--HEADER--></h3>
            </div>
        </div>
    </div>
    <hr size="#">
    <div class="container-fluid" style="margin-top:80px" id='contains'>
        <!-- contains -->        
    </div>
    <div class="fixed-bottom grid_system">
        <div class="row">
            <div class="col" onclick='App.views.home()'>
                <i class="fas fa-2x fa-book" style="color: brown;"></i>
                <span class="d-none d-sm-block">Courses</span>
           </div>
            <div class="col" onclick='App.views.supports()'>
                <i class="fas fa-2x fa-book-open text-info"></i>
                <span class="d-none d-sm-block">Supports</span>
            </div>
            <div class="col" onclick='App.views.events()'>
                <i class="fas fa-2x fa-book-reader text-danger"></i>
                <span class="d-none d-sm-block">Events</span>
            </div>
            <div class="col">
                <i class="fas fa-2x fa-bell text-dark"></i>
                <span class="d-none d-sm-block">Notifications</span>
            </div>
            <div class="col">
                <i class="fas fa-2x fa-user-circle text-primary"></i>
                <span class="d-none d-sm-block">Me</span>
            </div>
        </div>
    </div>
</div>
