<div class="container">
    <span class="row"><hr size="#"></span>
    <div class="row">
        <span class="col-1"></span>
        <button class="btn btn-primary col btn-sm" onclick="App.views.add_timetable()">Add Timetable</button>
        <span class="col-1"></span>
    </div>
    <hr size="#">
    <h3 class="row">
        <span class="col-1"></span>
        <span class="col">Choose a Timetable</span>
        <span class="col-1"></span>
    </h3>
    <br>
    <div class="row">
        <div class="container-fluid" id='block'>
            <div>
                <div class="row" onclick="$(this).parent().find('#child').fadeToggle();">
                    <div class="col-3">
                        <i class="fas fa-2x fa-calendar text-success"></i>
                    </div>
                    <div class="col">
                        <h4>{{name}}</h4>
                    </div>
                </div>
                <br>
                <div class="row" id='child' style="display: none;">
                    <div class="card" style="width: 100%;">
                        <p class="card-body">
                            <b>Followers:</b> {{followers}}<br>
                            <b>Description:</b><br>{{description}}<br>
                            <b>Admin:</b> {{owner}}<br>
                            <button class="btn btn-{{color}} btn-sm" onclick="App.views.choose_timetable({{pk}},{{reverse}})">{{action}}</button><br>
                        </p>
                    </div>
                </div>
                <hr size="#">
            </div>
        </div>
        <hr size="#">
        <div class="row">
            <span class="col-1"></span>
            <div class="col">
                <button class="btn btn-dark btn-sm" onclick="App.views.index()">Return to home</button>
            </div>
            <span class="col-1"></span>
        </div>
    </div>
    <div class="row">
        <span class="col-1"></span>
        <span class="col" id="error"></span>
        <span class="col-1"></span>
    </div>
    <br>
</div>
<script type="text/javascript">
    App.vars.tmp.$el=$('#block');
    App.vars.tmp.$html=App.vars.tmp.$el.html();
    if (App.models.timetables.length) {
        App.vars.tmp.$el.empty();
        for (var timetable_id = 0; timetable_id < App.models.timetables.length; timetable_id++) {
            // We verify if already choosed or not
            App.vars.tmp.followed = 0;
            for (var follower_id = 0; follower_id < App.models.timetables[timetable_id].followers.length; follower_id++) {
                if (App.models.timetables[timetable_id].followers[follower_id].pk == App.models.user.pk) {
                    App.vars.tmp.followed = 1;
                    break;
                };
            }
            App.vars.tmp.$el.append(App.vars.tmp.$html
                .replace('{{pk}}', App.models.timetables[timetable_id].pk)
                .replace('{{name}}', App.models.timetables[timetable_id].name)
                .replace('{{description}}', App.models.timetables[timetable_id].description)
                .replace('{{owner}}', App.models.timetables[timetable_id].owner.username)
                .replace('{{action}}', App.vars.tmp.followed ? "Unfollow" : "Follow")
                .replace('{{color}}', App.vars.tmp.followed ? "danger" : "primary")
                .replace('{{reverse}}', App.vars.tmp.followed ? 1 : 0)
                .replace('{{followers}}', App.models.timetables[timetable_id].followers.length)
            );
        };
    } else {
        App.vars.tmp.$el[0].innerHTML = 'No timetable for the moment.';
    };
    $error = $('#error');
    for (var i = 0; i < App.vars.errors.length; i++) {
        $error.append('<h4 class="text-danger text-center">'+App.vars.errors[i]+'</h4>');
    };
</script>