<div class="row"><hr size='#'></div>
<div class="row">
    <div class="container-fluid" id='block'>
        <div id="parent">
            <div class="row" onclick="$(this).parent().find('#child').fadeToggle();">
                <div class="col-3">
                    <i class="fas fa-4x fa-book text-success"></i>
                </div>
                <div class="col">
                    <h4>{{name}}</h4>
                </div>
            </div>
            <br>
            <div class="row" id='child' style="display: none;">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <b>Description:</b> {{description}}<br>
                        <b>Location:</b> {{location}}<br>
                        <b>Interested:</b> {{interested}}<br>
                        <b>Status:</b> {{status}}<br>
                        <b>Date:</b> {{date}}<br>
                        <b>Begin:</b> {{begin}}<br>
                        <b>End:</b> {{end}}<br>
                        <b>Last updated:</b> {{updated}}<br>
                    </div>
                    <div class="card-footer" {{admin_panel}}>
                        <button class="btn btn-warning btn-sm" onclick='alert("Coming Soon...")//App.views.update_event({{event_pk}})'>Update</button>
                        <button class="btn btn-danger btn-sm" onclick='App.views.delete_event({{event_pk}})'>Delete</button>
                    </div>
                </div>
            </div>
            <hr size="#">
        </div>
    </div>
</div>
<!-- We duplicate the data -->
<script type="text/javascript">
    App.vars.tmp.$el = $('#block');
    App.vars.tmp.$html = App.vars.tmp.$el.html();
    if (App.models.events.length) {
        App.vars.tmp.$el.empty();
        for (var i = 0; i < App.models.events.length; i++) {
            App.vars.tmp.$el.append(App.vars.tmp.$html
                .replace('{{name}}', App.models.events[i].name)
                .replace('{{description}}', App.models.events[i].description)
                .replace('{{location}}', App.models.events[i].location.name)
                .replace('{{interested}}', App.models.events[i].interested.length)
                .replace('{{status}}', App.vars.STATUS_CHOICES_DICT[App.models.events[i].status])
                .replace('{{date}}', App.models.events[i].date)
                .replace('{{begin}}', App.models.events[i].begin)
                .replace('{{end}}', App.models.events[i].end)
                .replace('{{updated}}', App.models.events[i].updated)
                .replace('{{admin_panel}}', (App.models.events[i].location.timetable.owner.pk == App.models.user.pk) ? '' : 'hidden')
                .replace('{{event_pk}}', App.models.events[i].pk)
                .replace('{{event_pk}}', App.models.events[i].pk)
            );
        };
    } else {
        App.vars.tmp.$el[0].innerHTML = 'No events for the moment.';
    };
</script>