<button class="btn btn-info form-control" id="next_day">Next day</button>
<br>
<div class="row"><hr size='#'></div>
<div class="row">
    <div class="container-fluid" id='block'>
        <div id='parent'>
            <div class="row" onclick="$(this).parent().find('#child').fadeToggle();">
                <div class="col-3">
                    <i class="fas fa-4x fa-book" style="color: brown;"></i>
                </div>
                <div class="col">
                    <h4><b>{{code}}:</b> {{name}}</h4>
                    <i>from {{timetable}}</i>
                </div>
            </div>
            <br>
            <div class="row" id='child' style="display: none;">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <b>Date:</b> {{date}}<br>
                        <b>Time:</b> {{begin}} to {{end}}<br>
                        <b>Venue:</b> {{venue}}<br>
                        <b>Status:</b> <span class="text-primary">{{status}}</span><br>
                        <b>Attendance Done:</b> <span class="text-primary">{{attendance_done}}</span><br>
                        <b>Last update:</b> <span class="text-success">{{last_update}}</span><br>
                        <b>Description:</b> {{description}}<br>
                    </div>
                    <div class="card-footer">
                        <span {{admin_panel}}>
                            <button class="btn btn-warning btn-sm" onclick='App.views.update_lesson({{id}})'>Update</button>
                            <!-- Button trigger modal -->
                            <button class="btn btn-danger btn-sm" onclick='App.vars.tmp.to_delete={{classe_pk}}' data-toggle="modal" data-target="#delete_lesson">Delete</button>
                            <button class="btn btn-info btn-sm" onclick='App.vars.tmp.to_manage={{classe_pk}}' data-toggle="modal" data-target="#manage_lesson">More</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="delete_lesson" tabindex="-1" aria-labelledby="delete_lessonLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete_lessonLabel">Confirmation</h5>
      </div>
      <div class="modal-body">
        <span class="text">Are you sure to delete it?</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="$('#delete_lesson').on('hidden.bs.modal', function (event) {App.views.delete_lesson(App.vars.tmp.to_delete)})">Yes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="manage_lesson" tabindex="-1" aria-labelledby="manage_lessonLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="manage_lessonLabel">Confirmation</h5>
      </div>
      <div class="modal-body">
        <span class="text">Select a lesson status</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="$('#manage_lesson').on('hidden.bs.modal', function (event) {App.views.update_status_lesson(App.vars.tmp.to_manage, 's')})">Started</button>
        <button type="button" class="btn btn-info" data-dismiss="modal" onclick="$('#manage_lesson').on('hidden.bs.modal', function (event) {App.views.update_status_lesson(App.vars.tmp.to_manage, 'c')})">Cancelled</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="$('#manage_lesson').on('hidden.bs.modal', function (event) {App.views.update_status_lesson(App.vars.tmp.to_manage, 'e')})">Finished</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal" onclick="$('#manage_lesson').on('hidden.bs.modal', function (event) {App.views.update_status_lesson(App.vars.tmp.to_manage, 'w')})">Waiting</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" onclick="$('#manage_lesson').on('hidden.bs.modal', function (event) {App.views.update_attendance_lesson(App.vars.tmp.to_manage)})">Toggle Attendance</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Exit</button>
      </div>
    </div>
  </div>
</div>
<!-- We duplicate the data -->
<script type="text/javascript">
    App.views.splash(null, 'show');
    App.vars.tmp.$el = $('#block');
    App.vars.tmp.$html = App.vars.tmp.$el.html();
    if (App.models.classes.length) {
        App.vars.tmp.$el.empty();
        for (var classe_id = 0; classe_id < App.models.classes.length; classe_id++) {
            // We verify if owner
            App.vars.tmp.owner = 0;
            for (var timetable_id = 0; timetable_id < App.models.timetables.length; timetable_id++) {
                if (App.models.timetables[timetable_id].pk == App.models.classes[classe_id].timetable_pk) {
                    App.vars.tmp.owner = App.models.timetables[timetable_id].moderators.find(function (x) {return x==App.models.user.pk});
                    break;
                };
            };
            App.vars.tmp.$el.append(App.vars.tmp.$html
                .replace('{{code}}', App.models.classes[classe_id].course.code)
                .replace('{{timetable}}', App.models.timetables[timetable_id].name)
                .replace('{{name}}', App.models.classes[classe_id].course.name)
                .replace('{{date}}', App.models.classes[classe_id].date)
                .replace('{{begin}}', App.models.classes[classe_id].begin)
                .replace('{{end}}', App.models.classes[classe_id].end)
                .replace('{{venue}}', App.models.classes[classe_id].location.name)
                .replace('{{status}}', App.vars.STATUS_CHOICES_DICT[App.models.classes[classe_id].status])
                .replace('{{attendance_done}}', App.models.classes[classe_id].attendance_done ? 'Yes' : 'No')
                .replace('{{last_update}}', App.models.classes[classe_id].updated)
                .replace('{{description}}', App.models.classes[classe_id].description)
                .replace('{{admin_panel}}', App.vars.tmp.owner ? '' : 'hidden')
                .replace('{{id}}', classe_id)
                .replace('{{classe_pk}}', App.models.classes[classe_id].pk)
                .replace('{{classe_pk}}', App.models.classes[classe_id].pk)
            );
        };
    } else {
        App.vars.tmp.$el[0].innerHTML = 'No lesson for the moment.';
    };
    App.views.splash(null, 'hide');
</script>