<div class="container">
    <span class="row"><hr size="#"></span>
    <h3 class="row">
        <span class="col-1"></span>
        <span class="col">Login Page</span>
        <span class="col-1"></span>
    </h3>
    <div class="row">
        <span class="col-1"></span>
        <form class="form col" action="#">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="username" class="form-control" id="username" placeholder="Enter your username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter your password">
            </div>
            <div class="form-group">
                <input type="submit" onclick="login($(this).parent().parent())">
            </div>
            <a href="#" onclick="App.views.signin()">I don't have an account</a>
        </form>
        <span class="col-1"></span>
    </div>
    <div class="row">
        <span class="col-1"></span>
        <span class="col" id="error"></span>
        <span class="col-1"></span>
    </div>
</div>
<script type="text/javascript">
    function login(form) {
        username = form.find('#username').val();
        password = form.find('#password').val();
        App.views.login(username, password);
    }
    $error = $('#error');
    for (var i = 0; i < App.vars.errors.length; i++) {
        $error.append('<h4 class="text-danger text-center">'+App.vars.errors[i]+'</h4>');
    }
</script>