<div class="row"><hr size='#'></div>
<div class="row">
    <div class="container-fluid" id='block'>
        <div id="parent">
            <div class="row" onclick="$(this).parent().find('#child').fadeToggle();">
                <div class="col-3">
                    <i class="fas fa-4x fa-book text-primary"></i>
                </div>
                <div class="col">
                    <span>CEF201</span>
                    <h4>Physics of engineering I</h4>
                </div>
            </div>
            <br>
            <div class="row" id='child' style="display: none;">
                <div class="card" style="width: 100%;">
                    <p class="card-body">
                        <b>Date of publication:</b> 21/11/20 at 1:10pm<br>
                        <b>Type:</b> Tutorial<br>
                        <button class="btn btn-primary">Download</button><br>
                    </p>
                </div>
            </div>
            <hr size="#">
        </div>
    </div>
</div>
<!-- We duplicate the data -->
<script type="text/javascript">
    App.vars.tmp.$el = $('#block');
    $html = App.vars.tmp.$el.html();
    for (var i = 0; i <= 10; i++) {
        App.vars.tmp.$el.append($html);
    }
</script>