<div class="row"><hr size='#'></div>
<div class="row">
    <div class="container-fluid" id='block'>
        <div id="parent">
            <div class="row" onclick="$(this).parent().find('#child').fadeToggle();">
                <div class="col-3">
                    <i class="fas fa-4x fa-book text-primary"></i>
                </div>
                <div class="col">
                    <span>Course: {{code}}</span>
                    <h4>{{name}}</h4>
                </div>
            </div>
            <br>
            <div class="row" id='child' style="display: none;">
                <div class="card" style="width: 100%;">
                    <p class="card-body">
                        <b>Description:</b> {{description}}<br>
                        <b>Date of publication:</b> {{pub_date}}<br>
                        <b>Type:</b> {{category}}<br>
                        <b>Number of downloading:</b> <span class="text-primary">{{nb_downloading}}</span><br>
                        <button class="btn btn-primary">Download</button><br>
                    </p>
                </div>
            </div>
            <hr size="#">
        </div>
    </div>
</div>
<!-- We duplicate the data -->
<script type="text/javascript">
    App.vars.tmp.$el = $('#block');
    App.vars.tmp.$html = App.vars.tmp.$el.html();
    if (App.models.assets.length) {
        App.vars.tmp.$el.empty();
        for (var i = 0; i < App.models.assets.length; i++) {
            App.vars.tmp.$el.append(App.vars.tmp.$html
                .replace('{{code}}', App.models.assets[i].course.code)
                .replace('{{name}}', App.models.assets[i].name)
                .replace('{{description}}', App.models.assets[i].description)
                .replace('{{pub_date}}', App.models.assets[i].pub_date)
                .replace('{{category}}', App.models.assets[i].category.name)
                .replace('{{nb_downloading}}', App.models.assets[i].readers.length)
            );
        };
    } else {
        App.vars.tmp.$el[0].innerHTML = 'No supports for the moment.';
    };
</script>